body {
  margin: 0;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main {
  background-color: rgba(20, 20, 20, 0.19);
  margin-left: 10%;
  width: 80%;
  padding-bottom: 50px;
  padding-top: 15px;
  color: white;
  min-height: calc(100vh - 65px);
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  background-color: #000000ee;
  width: 100%;
  height: 50px;
  font-size: 120%;
  text-align: center;
  align-items: center;
  padding: 10px 0px;
}

li,
a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

a:hover {
  color: rgb(175, 175, 175);
  background-color: #4e4d4dfd;
}

.nav-ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

.title {
  margin: 90px 0 20px 15%;
  width: 200px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 3em;
  width: 3em;
  background-color: #fcfcfcc6;
  outline: none;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #7c7c7c6b;
  cursor: pointer;
}

.search-bar {
  margin-top: 15px;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 20px;
  font-family: inherit;
  background-color: #000000bc;
  font-weight: bold;
  color: rgb(232, 226, 226);
  font-size: 120%;
  width: 500px;
}

.input-check {
  font-size: 24px;
  color: red;
  background-color: black;
  text-align: center;
}

.days-selector {
  padding: 12px;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}

.days-selector:hover {
  cursor: pointer;
}

.select-label {
  font-size: 25px;
  padding: 10px;
  border-radius: 20px;
}

.daily-section {
  margin: 100px 10% 40px 10%;
  width: 80%;
  border-collapse: collapse;
  border-radius: 2em;
  overflow: hidden;
  border-spacing: 0;
}

.day-row {
  background-color: rgba(20, 20, 20, 0.865);
  margin-bottom: 10px;
  color: rgb(212, 212, 212);
}

.day-row:nth-child(2n) {
  background-color: rgba(30, 29, 29, 0.786);
}

.day-row > td {
  padding: 0.8em 0.5em;
}

.city-column {
  padding-left: 25px !important;
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 20px;
}

.value-sub-info {
  font-weight: bold;
  margin: 0;
  padding-top: 20px;
}

@media screen and ((max-width: 1518px) and (min-width: 1240px)) {
  .search {
    width: 1000px;
    margin-left: 150px;
  }

  .search-bar {
    width: 350px;
  }

  .label {
    font-size: 17px;
  }

  .day-info {
    font-size: 15px;
  }

  .value-sub-info {
    padding: 10px;
  }

  .value-sub-info.description {
    padding: 0px;
  }
}

@media screen and ((max-width: 1240px) and (min-width: 780px)) {
  .title {
    margin: 90px 0 20px 40%;
  }

  .search {
    display: flex;
    flex-direction: column;
  }
  .search-bar {
    width: 350px;
    margin-bottom: 20px;
  }

  button {
    height: 4em;
    width: 4em;
  }

  .daily-section {
    margin: 40px 8%;
  }

  .city-name {
    font-size: 14px;
  }

  .day-info {
    font-size: 12px;
  }

  .value-sub-info.description {
    padding: 0px;
    font-size: 14px;
  }

  .label {
    font-size: 14px;
  }

  .city-column {
    padding-bottom: 0px !important;
  }

  .day-info-column {
    padding-bottom: 0px !important;
  }
}

@media screen and ((max-width: 781px) and (min-width: 520px)) {
  .navbar {
    font-size: 15px;
    text-align: center;
  }

  li,
  a {
    color: white;
    text-decoration: none;
    padding: 5px;
    height: 100%;
  }

  a:hover {
    font-size: 15px;
  }

  .title {
    margin: 90px 0 20px 30%;
  }

  .search {
    display: flex;
    flex-direction: column;
  }

  .search-bar {
    width: 270px;
    margin-bottom: 20px;
  }

  button {
    height: 4em;
    width: 4em;
  }

  .daily-section {
    margin-top: 40px;
    margin-left: 10%;
  }

  .day-row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .city-name {
    padding-bottom: 0px;
  }

  .city-column {
    padding-bottom: 0px !important;
  }

  .day-info-column {
    padding-bottom: 0px !important;
  }
}

@media screen and (max-width: 520px) {
  .navbar {
    font-size: 15px;
    text-align: center;
  }

  li,
  a {
    color: white;
    text-decoration: none;
    padding: 5px;
    height: 100%;
  }

  a:hover {
    font-size: 15px;
  }

  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-bar {
    width: 200px;
    margin-bottom: 20px;
  }

  .select-label {
    font-size: 15px;
  }

  .days-selector {
    padding: 5px;
    font-size: 12px;
  }

  .daily-section {
    margin: 40px 10%;
  }
  .day-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .day-row > td {
    padding: 10px 0 0 0;
  }

  .city-name {
    font-size: 12px;
  }

  .day-info {
    font-size: 10px;
  }

  .value-sub-info.description {
    padding: 0px;
    font-size: 10px;
  }

  .label {
    font-size: 10px;
  }

  .last-group {
    padding-bottom: 10px;
  }
}
