body {
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  background-color: #000000ee;
  width: 100%;
  height: 50px;
  font-size: 120%;
  text-align: center;
  align-items: center;
  padding: 10px 0px;
}

li,
a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

a:hover {
  color: rgb(175, 175, 175);
  background-color: #4e4d4dfd;
}

.nav-ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #222;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 120%;
}

.card {
  background-color: #000000ee;
  color: rgb(197, 192, 192);
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.city-span {
  display: flex;
  justify-content: space-between;
}

.add-to-fav-btn {
  background-color: white;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 20px;
}

.not-displayed {
  display: none;
}

.add-to-fav-btn svg {
  height: 30px;
  width: 30px;
  padding: 5px 0 0 0;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  margin: 0 0 20px 25px;
  border-radius: 50%;
  border: none;
  height: 3em;
  width: 3em;
  background-color: #7c7c7c2b;
  color: rgb(236, 230, 230);
  outline: none;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: #7c7c7c6b;
  cursor: pointer;
}

.search-bar {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 20px;
  font-family: inherit;
  background-color: #7c7c7c2b;
  color: rgb(236, 230, 230);
  font-size: 120%;
  width: calc(100% - 30px);
}

.input-check {
  color: red;
}

h1.temp {
  margin: 0;
  font-size: 30px;
}

.description-container {
  display: flex;
  width: 50%;
}

img {
  height: 48px;
  margin-right: 15px;
  padding-top: 10px;
  border: 0;
  outline: 0;
}

@media screen and ((max-width: 1024px) and (min-width: 500px)) {
  main {
    margin: 0;
    padding: 0;
  }

  .city {
    padding-left: 35px;
  }

  .card {
    text-align: center;
    padding: 0.5em;
    margin: 0;
  }

  .description-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .search-bar {
    width: 250px;
    padding: 0.6em 0.7em;
    font-size: 80%;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    font-size: 15px;
    text-align: center;
  }

  li,
  a {
    color: white;
    text-decoration: none;
    padding: 5px;
    height: 100%;
  }

  a:hover {
    font-size: 15px;
  }

  main {
    margin: 0;
    padding: 0;
  }

  .card {
    text-align: center;
    width: 90%;
    padding: 0.5em;
  }

  .description-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .search-bar {
    width: 250px;
    padding: 0.6em 0.7em;
    font-size: 80%;
  }

  .city {
    padding-left: 25px;
  }
}
